# Secrets
.env
.envT
*.env
secrets.yaml

# Databases and heavy data
**/data/
**/uptime-kuma-data/
**/config/filebrowser.db

# Certificates (Security)
certs/

# Scripts
backup-configs.sh

# OS and Logs
*.log
.DS_Store
