# Secrets
.env
.envT
*.env

# Foldery z danymi i certyfikaty
certs/
**/uptime-kuma-data/
**/nginx-proxy-manager/data/
**/filebrowser/data/

# Ignoruj bazy danych i logi
*.db
*.db-journal
*.log

# Ale POZWÓL na pliki konfiguracyjne (YAML)
!**/docker-compose.yml
!**/*.yaml
!**/*.yml
