# Docker dynamic data
nginx-proxy-manager/data/
nginx-proxy-manager/letsencrypt/
adguard-home/work/
adguard-home/conf/AdGuardHome.yaml
homepage/config/logs/

# Secrets & SQLite
*.db
*.sqlite
*.log
.env
custom.env
*.env
certs/
*.key
*.crt
