services:
  filebrowser:
    image: filebrowser/filebrowser:latest
    container_name: filebrowser
    restart: unless-stopped
    user: "1000:1000"
    ports:
      - '8090:80'
    volumes:
      - /home/tomek/homelab-ops:/srv
      - ./config:/database
    # Poniższa linia wymusza bazę danych w konkretnym miejscu
    command: [ "-d", "/database/filebrowser.db", "--address", "0.0.0.0", "--port", "80" ]
