services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - 9090:9090        # <--- DODANO: Teraz Uptime Kuma go zobaczy
    volumes:
      - ./prometheus:/etc/prometheus
    restart: always

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - 3002:3000
    restart: always

  node-exporter:
    image: prom/node-exporter
    container_name: node-exporter
    ports:
      - 9100:9100        # <--- DODANO: Żebyś mógł monitorować zużycie CPU/RAM
    restart: always

  uptime-kuma:
    image: louislam/uptime-kuma:1
    container_name: uptime-kuma
    restart: always
    volumes:
      - ./uptime-kuma-data:/app/data
    ports:
      - 3001:3001
