services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: unless-stopped
    ports:
      - '3000:3000'
    volumes:
      - ./config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro

    environment:
      - HOMEPAGE_ALLOWED_HOSTS=homepage.lab,192.168.1.53
      - HOMEPAGE_VAR_ADGUARD_PASS=${ADGUARD_PASS}
      - HOMEPAGE_VAR_PORTAINER_KEY=${PORTAINER_KEY}
    extra_hosts:
    - "host.docker.internal:host-gateway"
