services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: unless-stopped
    ports:
      - '3000:3000'
    volumes:
      - ./config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /host/proc:/host/proc:ro
      - /host/sys:/host/sys:ro
    environment:
      - HOMEPAGE_VAR_ADGUARD_PASS=${ADGUARD_PASS}
      - HOMEPAGE_VAR_PORTAINER_KEY=${PORTAINER_KEY}
      - HOMEPAGE_ALLOWED_HOSTS=192.168.1.53,homepage.lab,localhost,127.0.0.1
    extra_hosts:
      - "host.docker.internal:host-gateway"
