- resources:
    cpu: true
    memory: true
    disk: /

- search:
    provider: google
    target: _blank

- datetime:
    format:
      dateStyle: long
      timeStyle: short

- weather:
    provider: openmeteo
    latitude: 51.48
    longitude: 21.45
    units: metric
