- resources:
    cpu: true
    memory: true
    disk: /          # Monitoruje główny dysk systemu
- search:
    provider: google
    target: _blank
- datetime:
    text_size: xl
    format:
      date: long
      time: short
      hour12: false
